<div class="panel panel-default">
    <div class="panel-heading">
        {{conference.name}}
        <br>
        <mydate style="font-size: 12px;">{{conference.startTime | date:'MMMM-dd HH:mm a'}}</mydate> - <mydate style="font-size: 12px;">{{conference.endTime | date:'MMMM-dd HH:mm a'}}</mydate>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs"
                ng-class="{active:isActiveTab(tab.url)}"
                ng-click="onClickTab(tab)" data-toggle="tab">
                <a ng-href="conferences/{{conference.id}}">{{tab.title}}</a>
            </li>
        </ul>

        <div class="tab-content">
            <div ng-include="currentTab"></div>
        </div>
    </div>
</div>